WebApp.Client/WebApp.Domain/Service References/AddressBookTemporaryReference/AddressBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddressBook" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61528/AddressBook.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61528/AddressBook.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61528/AddressBook.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApp.Client.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddressBook_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_GetContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContact" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_GetContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_DeleteContactById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactById" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_DeleteContactById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_DeleteContactByContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactByContact" />
  </wsdl:message>
  <wsdl:message name="IAddressBook_DeleteContactByContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactByContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddressBook">
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBook/AddContact" message="tns:IAddressBook_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBook/AddContactResponse" message="tns:IAddressBook_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBook/UpdateContact" message="tns:IAddressBook_UpdateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBook/UpdateContactResponse" message="tns:IAddressBook_UpdateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBook/GetContact" message="tns:IAddressBook_GetContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBook/GetContactResponse" message="tns:IAddressBook_GetContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContactById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBook/DeleteContactById" message="tns:IAddressBook_DeleteContactById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBook/DeleteContactByIdResponse" message="tns:IAddressBook_DeleteContactById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContactByContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBook/DeleteContactByContact" message="tns:IAddressBook_DeleteContactByContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBook/DeleteContactByContactResponse" message="tns:IAddressBook_DeleteContactByContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddressBook" type="tns:IAddressBook">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://tempuri.org/IAddressBook/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/IAddressBook/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://tempuri.org/IAddressBook/GetContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactById">
      <soap:operation soapAction="http://tempuri.org/IAddressBook/DeleteContactById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactByContact">
      <soap:operation soapAction="http://tempuri.org/IAddressBook/DeleteContactByContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressBook">
    <wsdl:port name="BasicHttpBinding_IAddressBook" binding="tns:BasicHttpBinding_IAddressBook">
      <soap:address location="http://localhost:61528/AddressBook.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>