WebbApp/WebApp.Domain/Service References/AddressBookServiceReference/AddressBook2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApp.Client.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApp.Client.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContactDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDTO" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDTO" nillable="true" type="tns:ContactDTO" />
  <xs:complexType name="AddressDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:StateCodeDTO" />
      <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDTO" nillable="true" type="tns:AddressDTO" />
  <xs:simpleType name="StateCodeDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AK" />
      <xs:enumeration value="AL" />
      <xs:enumeration value="DC" />
      <xs:enumeration value="FL" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="SC" />
      <xs:enumeration value="VA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StateCodeDTO" nillable="true" type="tns:StateCodeDTO" />
</xs:schema>